* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

#video_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#video_background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none !important;
}

/* Navbar styling */
#navbar {
  position: absolute;
  top: 0;
  width: calc(100% - 5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  z-index: 100;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.034);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition: all 0.3s ease;
}

#navbar.column-layout {
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 2vw;
  width: auto;
  background: rgba(0, 0, 0, 0.097);
  padding: 10px;
  border-radius: 10px;
}

#navbar.column-layout li {
  text-align: center;
  width: 100%;
  margin: 5px;
}

#navbar.column-layout #navbar_list {
  display: block;
  flex-direction: column;
  align-items: flex-start;
}

#navbar_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 1vw;
}

li {
  color: #f0f0f0;
  font-size: clamp(1rem, 2vw, 1.6rem);
  padding: 0.5vw 1vw;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

li:hover {
  color: #dff2eb;
  text-shadow: 0px 0px 20px white;
  cursor: pointer;
}

#hamburger_icon {
  color: #dff2eb;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 2vw;
  z-index: 200;
}

/* Header and Phrase Section */
#home_page_header_and_phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  z-index: 10;
}

#home_page_header {
  font-size: clamp(4rem, 8vw, 10rem);
  font-weight: bold;
  background: linear-gradient(to right, #38707b, #b1cace, #525649, #946231);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-stroke: 1px #f0f0f0;
}

#home_page_phrase {
  color: #f0f0f0;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  margin-bottom: 20px;
}

#lets_start_button {
  color: #dff2eb;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  padding: 0.8vw 1.5vw;
  background-color: rgba(223, 242, 235, 0.178);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#lets_start_button:hover {
  background-color: rgba(223, 242, 235, 0.2);
  text-shadow: 0px 0px 10px white;
  box-shadow: 0px 0px 10px white;
}
